<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="global">
            <directory suffix="Test.php">tests/unit/global</directory>
        </testsuite>
        <testsuite name="case-by-case">
            <directory suffix="Test.php">tests/unit/case-by-case</directory>
        </testsuite>
        <!-- Test suite "compatibility" is to test and check compatibility with PHPUnit. -->
        <testsuite name="compatibility">
            <directory>./tests/unit/compatibility</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Deminy\Counit\CounitExtension"/>
    </extensions>
</phpunit>
